<section id="missions-section" class="creator-section">
    <h2 class="section-title" data-aos="fade-up" data-aos-duration="800">宇宙歷程的里程碑</h2>
    <div class="features">
        <div class="feature" data-aos="zoom-in-up" data-aos-delay="100">
            <div class="feature-img">
                <img src="Apollo 11.jpg" alt="Apollo 11">
                <div class="feature-caption">
                    人類首次登陸月球，象徵人類探索宇宙的一大步。
                </div>
            </div>
            <div>
                <h3>1969</h3>
                <p>登月任務 Apollo 11</p>
            </div>
        </div>
        <div class="feature" data-aos="zoom-in-up" data-aos-delay="300">
            <div class="feature-img">
                <img src="voyager.jpg" alt="Voyager 1">
                <div class="feature-caption">
                    發射，後來成為離地最遠的人造物體，持續傳回宇宙影像。
                </div>
            </div>
            <div>
                <h3>1977</h3>
                <p>Voyager 1</p>
            </div>
        </div>
        <div class="feature" data-aos="zoom-in-up" data-aos-delay="500">
            <div class="feature-img">
                <img src="james-webb.jpg" alt="Hubble Telescope">
                <div class="feature-caption">
                    提供高解析星系與星雲影像，揭示宇宙的奧秘。
                </div>
            </div>
            <div>
                <h3>1990</h3>
                <p>哈伯望遠鏡 Hubble</p>
            </div>
        </div>
        <div class="feature" data-aos="zoom-in-up" data-aos-delay="500">
            <div class="feature-img">
                <img src="mars.gif" alt="Curiosity Rover">
                <div class="feature-caption">
                    登陸火星，探索古水文地貌，尋找生命跡象。
                </div>
            </div>
            <div>
                <h3>2012</h3>
                <p>好奇號 Curiosity</p>
            </div>
        </div>
        <div class="feature" data-aos="zoom-in-up" data-aos-delay="500">
            <div class="feature-img">
                <img src="hubble-passes.jpg" alt="Webb Telescope">
                <div class="feature-caption">
                    觀測宇宙早期光線，拓展視野至138億年前的星系。
                </div>
            </div>
            <div>
                <h3>2021</h3>
                <p>Webb 望遠鏡</p>
            </div>
        </div>
        <div class="feature" data-aos="zoom-in-up" data-aos-delay="600">
            <div class="feature-img">
                <img src="artemis.jpg" alt="Artemis Program">
                <div class="feature-caption">
                    人類重返月球的嶄新任務，預計將建立月球基地並準備火星登陸技術。
                </div>
            </div>
            <div>
                <h3>2024+</h3>
                <p>Artemis 計畫</p>
            </div>
        </div>
    </div>
</section>
